body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header h1 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.menu-hamburger {
  cursor: pointer;
  margin-right: 10px;
}

#youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper {
  margin-bottom: 20px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #666;
}

.pagination .prev .arrow {
  transform: rotate(180deg);
}

.pagination .next .arrow {
  transform: rotate(0deg);
}

.playlist-container {
  display: none;
  margin-top: 20px;
}

.playlist-item {
  color: #fff;
  margin-bottom: 10px;
}
